/* footer.css */
.footer a {
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: white;
  }
   
  .icon a{
    margin: 10% 0% 0 0;
  }
  .icon a i{
    margin-left: 5%;
  }
  .avalue a{
    line-height: 50px;
  }
  